@define-color surface_container_lowest {{colors.surface_container_lowest.default.hex}};
@define-color surface_container {{colors.surface_container.default.hex}};
@define-color surface_container_highest {{colors.surface_container_highest.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color outline {{colors.outline.default.hex}};
@define-color error {{colors.error.default.hex}};
