@define-color primary_container {{colors.primary_container.default.hex}};
@define-color on_primary_container {{colors.on_primary_container.default.hex}};
@define-color secondary_container {{colors.secondary_container.default.hex}};
@define-color on_secondary_container {{colors.on_secondary_container.default.hex}};
@define-color surface_container {{colors.surface_container.default.hex}};
@define-color surface_container_high {{colors.surface_container_high.default.hex}};
@define-color surface_container_lowest {{colors.surface_container_lowest.default.hex}};
