@define-color primary_container #663e00;
@define-color on_primary_container #ffddba;
@define-color secondary_container #58432b;
@define-color on_secondary_container #fdddbd;
@define-color surface_container #251e17;
@define-color surface_container_high #302921;
@define-color surface_container_lowest #130d07;
